*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}

.light{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 35, 35);
    position: relative;

}
.wire{
    
    height: 50%;

    width: 2px;
    background-color: rgb(56, 12, 12);
    
}
.bulb{
    height: 40px;
    width: 35px;
    
    position: relative;

}
.bulb i{
    position: absolute;
    scale: 3.7;
    rotate: 180deg;
    top: 35%;
    left: 30%;
    pointer-events: none;
    
}
.switch{
    height: 50px;
    width: 50px;
    background-color: white;
    position: relative;
    border-radius: 25px;
    transform: translate(39vw,-23vw);

}
.switch i{
    scale: 2.5;
     position: absolute;
     pointer-events: none;
     top: 30%;
     left: 30%;
    
}
.ri-lightbulb-flash-line{
    color: yellow;
}
.switch:active {
    height: 45px;
    width: 45px;

}